html{
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

header {
	width: 100%;
	height: 24px;
	margin: 0px;
	padding: 0px;
}

#container {
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#article {
	float: none;
	clear: both;
	width: 100%;
	height: calc(100% - 34px);
	overflow: auto;
	position: relative; */
	background-color: #ccf;
	margin: 0px 0px 0px 0px;
}

/* OSM Map area */
#mapid {
   height: 100%;
}

/* fade out */
#fadeLayer {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.5;
	display: none;
	z-index:3000;
}

/* default parts set */
button, select {
	display: inline-block;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 5px #999;
}

button:active {
	color: #000000;
	background-color: #DDDDDD;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

img {
	float: left;
	margin: 0px;
}

h1 {
	float: left;
	font-family:Helvetica,Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”, “メイリオ”,Meiryo, sans-serif;
	font-weight: 700 !important;
	font-size: 20px !important;
	margin: 0px !important;
	padding: 2px 6px;
	width: 100%;
	color: #ffffff !important;
	background-color: #666666;
	border-bottom: 4px solid #444444;
}

div.icon {
	width: 100% !important;
	white-space: nowrap;
}

img.icon {
	width: 16px;
	height: 16px;
}

span.icon{
	margin-left: 4px;
	font-size: 14px;
	white-space: nowrap;
	background-color: white;
	line-height: 1.0;
	opacity: 0.7;
}

.basemenu, .savemenu {
}

/* button for select way color */
.custom_map {
	padding: 6px;
	margin: 0px 0px 6px 0px;
	background-color: #ffffff;
	display: none;
}

.custom_group {
	display: table;
}

.custom_label {
  display: table-cell;
  vertical-align: middle;
	height: 1.3rem;
	width: 4.6rem;
}

.save_map {
	display: none;
}

.make_button {
	background-image: url("./image/osmlogo.png");
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 8px center;
	padding: 0px 0px 0px 36px;
	height: 48px;
	width: 164px;
	align-items: center;
}

.export_button {
	background-image: url("./image/Arrow_Down.png");
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 8px center;
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 8px 0px;
	height: 48px;
	width: 164px;
}

.clear_button {
	background-image: url("./image/Arrow_Left.png");
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 8px center;
	padding: 0px 0px 0px 36px;
	height: 48px;
	width: 164px;
	align-items: center;
	display: none;
}

.way_button {
	width: 1.8rem;
	height: 1.3rem;
  display: table-cell;
  vertical-align: middle;
	margin-left: 4px;
}

.way_line {
	margin: 4px 0px 4px 4px;
	width: 3rem;
	height: 1.3rem;
  display: table-cell;
  vertical-align: middle;
}

.drop_button {
	background-repeat: no-repeat;
	background-position: 8px center;
	padding: 4px 4px 4px 34px !important;
	margin: 2px 0px 2px 0px;
	background-repeat: no-repeat;
	background-size: 24px;
}

.leaflet-div-icon {
	border: 0px !important;
}

.leaflet-control-container::after {
	content: url("./image/cross.png");
	z-index: 1000;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* チェックボックス */
.checkbox {
	display: 	table-cell;
	vertical-align: middle;
  position: relative;
  width: 28px;
}

.checkbox input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

.checkbox label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 1.3em;
	border         : 2px solid #999999;   /* 未選択タブのの枠線 */
  border-radius  : 9px;                /* 角丸               */
	vertical-align: middle;
	margin: 0px;
}

.checkbox input[type="checkbox"]:checked +label {
  border-color   : #78bd78;             /* 選択タブの枠線     */
}

.checkbox div[type="swImg"] {
  position       : absolute;            /* 親要素からの相対位置*/
  width          : 10px;                /* 丸の横幅           */
  height         : 10px;                /* 丸の高さ           */
  background     : #88888888;             /* カーソルタブの背景 */
  top            : 7px;                 /* 親要素からの位置   */
  left           : 4px;                 /* 親要素からの位置   */
  border-radius  : 5px;                /* 角丸               */
  transition     : .2s;                 /* 滑らか変化         */
}

.checkbox input[type="checkbox"]:checked ~ div[type="swImg"] {
  transform      : translateX(10px);    /* 丸も右へ移動       */
  background     : #709070;             /* カーソルタブの背景 */
}

.modal-body{
	font-size: 14px !important;
}
