html{
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

header {
	width: 100%;
	height: 24px;
	margin: 0px;
	padding: 0px;
}

#container {
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#article {
	float: none;
	clear: both;
	width: 100%;
	height: calc(100% - 34px);
	overflow: auto;
	position: relative;
	background-color: #ccf;
	margin: 0px 0px 0px 0px;
}

/* OSM Map area */
#mapid {
   height: 100%;
}

/* fade out */
#fadeLayer {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.5;
	display: none;
	z-index:3000;
}

/* default parts set */
button, select {
	display: inline-block;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 5px #999;
}

button:active {
	color: #000000;
	background-color: #DDDDDD;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

img {
	float: left;
	margin: 2px 4px 0px 0px;
}

h1 {
	float: left;
	font-family:Helvetica,Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”, “メイリオ”,Meiryo, sans-serif;
	font-weight: 700 !important;
	font-size: 20px !important;
	margin: 0px !important;
	padding: 2px 6px;
	width: 100%;
	color: #ffffff !important;
	background-color: #666666;
	border-bottom: 4px solid #444444;
}

.basemenu, .savemenu {
}

/* button for select way color */
.custom_map {
	padding: 8px;
	margin: 8px 0px 8px 0px;
	background-color: #ffffff;
	display: none;
}

.custom_group {
	display: table;
}

.custom_label {
  display: table-cell;
  vertical-align: middle;
	height: 1.5rem;
	width: 3.8rem;
}

.save_map {
	display: none;
}

.make_button {
	background-image: url("./image/osmlogo.png");
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-position: 8px center;
	padding: 0px 0px 0px 50px;
	height: 60px;
	width: 164px;
	align-items: center;
}

.clear_button {
	background-image: url("./image/Arrow_Left.png");
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-position: 8px center;
	padding: 0px 0px 0px 50px;
	height: 60px;
	width: 164px;
	align-items: center;
	display: none;
}

.way_button {
	margin: 4px 0px 4px 0px;
	width: 2rem;
	height: 1.5rem;
  display: table-cell;
  vertical-align: middle;
}

.way_line {
	margin: 4px 0px 4px 4px;
	width: 3rem;
	height: 1.5rem;
  display: table-cell;
  vertical-align: middle;
}

.export_button {
	background-image: url("./image/Arrow_Down.png");
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-position: 8px center;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 8px 0px;
	width: 164px;
	height: 60px;
}

.drop_button {
	background-repeat: no-repeat;
	background-position: 8px center;
	padding: 0px 0px 0px 34px !important;
	margin: 1px 0px 1px 0px;
	background-repeat: no-repeat;
	background-size: 24px;
}

.leaflet-control-container::after {
	content: url("./image/cross.png");
	z-index: 1000;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	font-size: 14px !important;
}
