html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: calc(100% - 1.5em);
    padding: 0;
    margin: 0;
}

header {
    width: calc(100% - 16px);
    height: 1.5em;
    background-color: #C0C0C0;
    margin: 4px;
    padding: 4px;
}

#container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 1.5em);
    width: calc(100% - 8px);
    margin: 4px;
}

#navi {
	width: 20%;
    min-width: 250px;
    height: calc(100% - 4px);
    background-color: #A0D0A0;
    padding: 4px;

}

#article {
    width: 80%;
    height: calc(100% + 4px);
    flex: 1;
    overflow: auto;
    position: relative;
    background-color: #ccf;
    margin: 0px 4px 4px 4px;

}

#mapid {
    height: 100%;
}

h1 {
	display:inline;
	margin: 0px;
	font-size: 180%;
	background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
	text-shadow: 3px -3px black, 2px -2px white;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text 
}
